/* ==========================================================================
   Fall Collection theme skin
   from https://designschool.canva.com/blog/brand-color-palette/
   ========================================================================== */

/* Colors */
$base-color: #613a43 !default;
$text-color: #e9dccd !default;
$accent-color: #849973 !default;
$background-color: #36384c !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #849973 !default;
