/* ==========================================================================
   Night theme skin
   ========================================================================== */

/* Colors */
$base-color: #252a34 !default;
$text-color: #eaeaea !default;
$accent-color: #d1a827 !default;
$background-color: #252a34 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
