/* ==========================================================================
   Nordic Woods theme skin
   from https://designschool.canva.com/blog/brand-color-palette/
   ========================================================================== */

/* Colors */
$base-color: #60412b !default;
$text-color: #dde2e3 !default;
$accent-color: #d1a827 !default;
$background-color: #3c455c !default;
$code-background-color: #dde2e3 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #3c455c !default;
